.features {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  max-width: max(900px, 60%);
  margin: 5% auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // padding: 80px 0;

  .feature {
    max-width: 300px;
    margin: 0 20px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    img {
      border-radius: 50%;
      margin-bottom: 20px;
      width: 150px;
      height: 150px;
      transition: transform 0.3s ease;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      font-weight: 700;
    }

    p {
      font-size: 1rem;
      color: #555;
      margin-bottom: 20px;
    }
  }
}
