.header {
  background-color: var(--light-black-2);
  color: var(--white);
  padding: 15px;

  @include flex-container(row, nowrap, space-between, center);
  .logo {
    font-family: var(--font-moleth);
    font-size: var(--font-7);
    color: var(--white);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
  }

  .nav {
    ul {
      @include flex-container(row, nowrap, center, center);
      gap: 50px;
      li {
        a {
          color: var(--white);
          font-family: var(--font-tektur);
          font-size: var(--font-11);
          text-transform: capitalize;
          font-weight: 500;
          letter-spacing: 3px;
          transition: color 0.3s ease;
          &:hover {
            color: #007bff;
          }
        }
      }
    }
  }
}
